/* =============
   Heading-1
============= */


#herooo{
    
   
    
    margin-top: 170px;


        display: grid;
        grid-area: hero;
        background-position: center;
        background-size: cover;
        background-image: url("../img/hero/video.jpg");
       
        img{
            object-fit: cover;
            background-position: center;
            width: 100%;
           
           
        }
        height: 250px;
        width: 100%;
       

        @include md{
            height: 370px;
            width: 100%;
           
            }
    
            @include lg{
                padding-top: 0px;
                height: 550px;
                
                }
    
                @include xl {
                    height: 1000px;
                    width: 100%;
                   
        
                }
        
        
    

       
	

    #heroinfo{
       
      
       
    text-align: left;
     
       
        article{
            text-align: left;
            
           
        
            h1{
                color: $white;
                font-size: 16px;
                font-weight: 400;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 20px;

                @include md{
                    font-size: 30px;
                    padding-top: 90px;
                    padding-bottom: 20px;
                    padding-left: 20px;
    
                }

                @include lg{
                    font-size: 36px;
                }
    
                @include xl{
                    font-size: 55px;
                }
    




            }

            >div{
                text-align: left;
              
                
                padding-left: 20px;
                
            button{
                display: none;
            font-size: rem-calc(14);
            margin-bottom: 30px;
            
            border-radius: 2px;
            padding-top: 6px;
            padding-bottom: 6px;
            padding-right: 40px;
            padding-left: 40px;
                     background-color: $iris;
                     border: none;
                     color: $vanilla;
        
                     &:hover,
                     &:active {
                         color: #C38583;
                     
                    }

                    @include md{
                        display: grid;
                        font-size: 14px;
                    }
    
                    @include lg{
                        font-size: 20px;
                    }
        
                    @include xl{
                        font-size: 30px;
                    }
        
        
        }
    




        }


    }

   
}
}
