/* =============
   Heading-1
============= */

#heading-1{
    display: grid;

        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". search .";
        background-color: $greyLight;
    
        @include xl{
            grid-template-columns: auto 1000px auto;
        }
    
        >div{
            // border: 5px solid red;
            grid-area: search;
    
            
    }
}
