#heading2{
    display: grid;
    @include md{
        display: none;
    }

    aside{
        text-align: center;
    

        P{
            margin-top: 50px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-right: 50px;
            padding-left: 50px;
        text-align: justify;
      background-color: $starry;
      font-size: 18px;
      line-height: 30px;

        }

        button{

            margin-top: 50px;
            margin-right: 0px;
            margin-bottom: 60px;
            padding-bottom: 0px;
            padding-top: 16px;
            

            border-radius: 2px;
           
            padding-top: 6px;
             padding-bottom: 6px;
             padding-right: 30px;
             padding-left: 30px;
            background-color: $iris;
            border: none;
            color: $vanilla;

            &:hover,
            &:active {
                color: #C38583;
            
           }




        }
        
        
    }
    >div{ 
        text-align: center;
    
       
        button{
        
         margin-top: 50px;
         padding-bottom: 0px;
         padding-top: 16px;
        transform: rotateX(90);

         @include md{
             margin-top: 10px;
         }
         

         border-radius: 2px;
         padding: 3px 6px;
         padding-top: 6px;
         padding-bottom: 6px;
         padding-right: 40px;
         padding-left: 40px;
         background-color: $iris;
         border: none;
         color: $vanilla;

         &:hover,
         &:active {
             color: #C38583;
         
        }
     }        
    
                }

    article{

        text-align: center;
    
        h1{
            font-size: 30px;

        }

        p{
            font-size: 16px;
            text-align: justify;
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            font-size: 16px;
      line-height: 25px;

        }


    }










}