/* =============
   new
============= */

#News{
   
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #FCF5F1;
    

    display: grid;
    grid-template-columns: 60px auto 60px;
    grid-template-areas: ". News .";

    @include md{
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-areas: ". News .";

    }

    @include lg{
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-areas: ". News .";

    }
  

    @include xl{
        grid-template-columns: auto 1200px auto; 
    }
    ul{
        grid-area: News;
       
        
        @include md{
           
            display: grid;
            grid-template-columns: 50% auto; 
            grid-template-areas: 
            "News1 News2";
                }

            @include lg{
             display: grid;
                    
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "News1 News2";
                }

    
            @include xl{
                    display: grid;
            padding-right: 100px;
            padding-left: 100px;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "News1 News2";
                }

            #News1{
               
                h1{ 
                    margin-bottom: 20px;
                    font-size: 24px;
                    @include md{
                        font-size: 29px;
                        padding-right: 50px;

                    }
                    @include lg{
                        font-size: 30px;

                    }
                    @include xl{
                        font-size: 35px;

                    }
                }

                h4{
                    font-size: 16px;
                    display: none;

                    @include md{
                        display: grid;
                        font-size: 16px;
                        padding-bottom: 20px;
                        padding-right: 50px;

                    }
                    @include lg{
                        display: grid;
                        font-size: 16px;

                    }
                    @include xl{
                        display: grid;
                        font-size: 21px;

                    }



                }

                p{
                    font-size: 12px;
                    

                    @include md{
                        display: grid;
                        font-size: 16px;
                        padding-bottom: 10px;
                        padding-right: 50px;

                    }
                    @include lg{
                        display: grid;
                        font-size: 16px;

                    }
                    @include xl{
                        display: grid;
                        font-size: 21px;

                    }


                }
                padding-top: 30px;
                padding-bottom: 50px;
                display: grid;
                text-align: justify;


            }   
            
            #News2{

                @include md{
                    padding-top: 90px;
                }
                
                
                @include lg{
                    padding-top: 20px;
                }
                display: flex-end;
                text-align: right;
                margin-bottom: 30px;
                input{ 
                    width: 90%;
                    margin-bottom: 30px;
                    border-radius: 4px;
                    padding-bottom: 16px;
                    
                    
    
    
                }
            }


            article{
                text-align: center;
                padding-bottom: 20px;
                @include md{
                    text-align: right;
                    padding-bottom: 0px;
                    
                }
                button{
               
                
                margin-top: 0px;
                padding-bottom: 0px;
                padding-top: 16px;
                
                transition: 0.25s;
                border-radius: 2px;
                padding-top: 6px;
                padding-bottom: 6px;
                padding-right: 40px;
                padding-left: 40px;
                background-color: $iris;
                border: none;
                color: $vanilla;
    
                &:hover,
                &:active {
                    color: #C38583;
                
               }
    
            }}
            }   




            }



    

    
