/* =============
   Products
============= */

#Products{
    img{
        width: 100%;
    }

    padding-top: 0px;

    padding-bottom: 80px;

    @include md{
        padding-bottom: 40px;
        padding-top: 40px;

    }
    
   @include md{
    margin-top: 160px;
   } 

    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: ". Products .";
  
    
    @include lg{
        margin-top: 90px;
        display: grid;
        grid-template-columns: 90px auto 90px;
        grid-template-areas: ". Products .";
    }
    @include xl{
        grid-template-columns: auto 1000px auto; 
        
    }
    ul{
        grid-area: Products;

        
        @include md{
            display: grid;
            grid-template-columns: 50% auto; 
            grid-template-areas: 
            "p1 p2";
                }

        @include lg{
            display: grid;
            grid-template-columns: 50% auto; 
            grid-template-areas: 
            "p1 p2"
            
            
           
        }

            #p1{
                display: grid;
               
                @include md{
                    margin-right: 30px;
                    margin-bottom: 40px;

                }
                
                h1{
                    text-align: center;
                    margin-bottom: 40px;

                    @include md{
                        text-align: left;
                    }
                }

                figcaption{
                    margin-top: 20px;
                    text-align: center;
                }



                >div{ 
                    text-align: center;
                   
                    button{
    
                        @include md{
                          
                            display: flex-end;
                        }
                    
    
                    @include lg{
    
                        display: none;
                    }
                    
                    margin-top: 20px;
                     padding-bottom: 16px;
                     padding-top: 16px;
                     
        
                     border-radius: 2px;
                     padding-top: 6px;
                     padding-bottom: 6px;
                     padding-right: 40px;
                     padding-left: 40px;
                     background-color: $iris;
                     border: none;
                     color: $vanilla;
        
                     &:hover,
                     &:active {
                         color: #C38583;
                     
                    }
                 }        }
                   
                
    
            }

            #p2{

                p{
                    display: none;
                    font-size: 16px;

                    @include md{
                        padding-top: 70px;
                    
                       
                        
                        text-align: justify;
                        display: grid;
        
        
                        }
                        @include xl{
                            font-size: 21px;
                        }

                }

               

              
                
            }
                
            
            


           
        }

           

                       
}
