/* =============
   Products2
============= */

#Products2{
    img{
        width: 100%;
    }


   

    display: grid;
    grid-template-columns: 90px auto 90px;
    grid-template-areas: ". Products2 .";
  

    @include xl{
        grid-template-columns: auto 1000px auto; 
    }
    ul{
        grid-area: Products2;

        @include lg{
            padding-top: 10px;
            padding-bottom: 50px;
        }
       
        

        
        @include lg{
            display: grid;
            grid-template-columns: 35% 35% 35%; 
            grid-template-areas: 
            "p3 p4 p5";
                }

                @include xl{
                    display: grid;
                    grid-template-columns: 35% 35% 35%; 
                    grid-template-areas: 
                    "p3 p4 p5";
                        }

            #p3{
                margin-right: 50px;
                display: none;
                @include lg{
                    display: grid;
                
                    
                figcaption{
                    margin-top: 20px;
                    text-align: center;
                }
            }
            }

            #p4{
                margin-right: 50px;
                display: none;
                @include lg{
                    display: grid;
                }
                figcaption{
                    margin-top: 20px;
                    text-align: center;
                }
            }

            

            #p5{
                margin-right: 50px;
                display: none;
                @include lg{
                    display: grid;
                }
                figcaption{
                    margin-top: 20px;
                    text-align: center;
                }
                
                    
                    article{
                        
                        text-align: right;
                        padding-bottom: 0px;
                      
                        
                        button{
                       
                        margin-top: 20px;
                         padding-bottom: 16px;
                         padding-top: 16px;
                         
            
                         border-radius: 2px;
                         padding: 3px 6px;
                         padding-top: 6px;
                        padding-bottom: 6px;
                        padding-right: 40px;
                        padding-left: 40px;
                         background-color: $iris;
                         border: none;
                         color: $vanilla;
            
                         &:hover,
                         &:active {
                             color: #C38583;
                         
                        }
                     }    
                    }
                        
            }
            
            
           
                
            }


           
        }

             

                       

