

/* =============
   services2
============= */


#services2{
    img{
        width: 100%;
    }

   
    padding-top: 30px;
    padding-bottom: 10px;
   
    
    @include md{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-areas: ". services2 .";
        }
      
  

    @include xl{
        grid-template-columns: auto 1000px auto; 
    }
    ul{
        grid-area: services2;

        h1{
            padding-bottom: 20px;
            padding-top: 40px;
            font-size: 24px;

            @include md{
                font-size: 30px;
            }

            @include xl{
                font-size: 35px;
            }

        }

        p{
            font-size: 16px;

            @include xl{
                font-size: 21px;
            }
        }
        
        
       
        
        @include md{
           
            display: grid;
            grid-template-columns: 50% auto; 
            grid-template-areas: 
            "s-mission sec3"
            "s-values sec4";
                }

                #s-mission{
                    margin-bottom: 0px;
                    margin-right: 30px;
                    margin-left: 30px;
                    @include md{
                        margin-left: 10px;
                      
                    }

                    text-align: justify;
                    
                    >div{ 
                        text-align: center;

                        @include md{
                            text-align: right;
                          
                        }
                    
                       
                        button{
                        
                         margin-top: 50px;
                         padding-bottom: 0px;
                         padding-top: 16px;

                         @include md{
                             margin-top: 10px;
                         }
                         
            
                         border-radius: 2px;
                         padding: 3px 6px;
                         padding-top: 6px;
                         padding-bottom: 6px;
                         padding-right: 40px;
                         padding-left: 40px;
                         background-color: $iris;
                         border: none;
                         color: $vanilla;
            
                         &:hover,
                         &:active {
                             color: #C38583;
                         
                        }
                     }        }
                       
                    
    


                }


                #sec3{
                    
                   

                    margin-top: 80px;




                }


                #s-values{
                    margin-right: 30px;
                    margin-left: 30px;
                    margin-bottom: 20px;
                    margin-top: 0px;
                    @include md{
                        margin-left: 10px;
                      
                    }

                    text-align: justify;

                    >div{ 
                        text-align: center;
                        @include md{
                            text-align: right;
                          
                        }
                       
                        button{
        
                            @include md{
                                text-align: right;
                                display: flex-end;
                            }
                        
        
                            @include md{
                                margin-top: 10px;
                            }
                        
                        margin-top: 50px;
                         padding-bottom: 16px;
                         padding-top: 16px;
                         
            
                         border-radius: 2px;
                         padding: 3px 6px;
                         padding-top: 6px;
                         padding-bottom: 6px;
                         padding-right: 40px;
                         padding-left: 40px;
                         background-color: $iris;
                         border: none;
                         color: $vanilla;
            
                         &:hover,
                         &:active {
                             color: #C38583;
                         
                        }
                     }        }


                }


                #sec4{

                   
                    margin-top: 60px;

                }
                
                
                
            }
        }