/* =============
   Wedding-2
============= */

  
#Wedding-2{

   
    
    padding-top: 50px;
    padding-bottom: 50px;
    

    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". Wedding-2 .";
  

    @include xl{
        grid-template-columns: auto 1200px auto; 
    }

    >div{

       
        grid-area: Wedding-2;

        h1{
            display: none;

            @include md{
                display: grid;
                text-align: left;
                
             }

            @include lg{
                display: grid;
               text-align: left;
               
            }
         }





    ul{
        display: none;
       
       

        @include md{
           display: grid;
           grid-template-columns: 50% 50%; 
            grid-template-areas: 
            "wedding3 wedding4";
        }

        @include lg{
            display: grid;
            background-color: $vanilla;
            grid-template-columns: auto; 
            grid-template-areas: 
            "wedding3" 
            "wedding4";
        }

       


        #wedding3{
            padding-top: 20px;
            
            
            h3{
                text-align: center;
               
                @include lg{
                    padding-left: 300px;
                    padding-right: 300px;
                    text-align: left;
                }
              
            }
            display: grid;
            text-align: justify;

            @include md{
                background-color: $vanilla;
                margin-right: 10px;
             }

            @include lg{
                p{
                    padding-left: 300px;
                    padding-right: 300px;

                }
            }


        }   

        #wedding4{
            padding-top: 20px;
           
           
            h3{
                text-align: center;
                @include lg{
                    padding-left: 300px;
                    padding-right: 300px;
                    text-align: left;
                }
              
            }
            display: grid;
            text-align: justify;

            @include md{
                background-color: $vanilla;
                margin-left: 10px;
             }
            @include lg{
                
                p{
                    padding-left: 300px;
                    padding-right: 300px;


                }
            }


        }   

        article{

            button {
                display: flex-end;
       
                font-size: 14px;
                font-family: 'Work Sans';
                font-weight: 400;
                transition: 0.25s;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 70%;
               
                border-radius: 4px;
                background-color: $christmas;
                border: none;
                color: $vanilla;
                &:hover, &:active{
                    color: #C38583;

                }

                @include lg{
                    margin-left: 60%;
                margin-right: auto;
                }

                @include lg{
                    margin-left: 65%;
                margin-right: auto;
                }
            }
        }

         

            p{
                padding-bottom: 20px;
                padding-left: 20px;
                padding-right: 20px;
            }

                }

              

            }
        }

    