/* =============
    Navigation
============= */

a {
    text-decoration: none;
}

#nav-container {

ul{


    @include md {

        display: flex;
    }

    li {

        margin-bottom: 20px;


        @include md {
            align-items: center;
            
            display: flex;
            margin-bottom: 0px;
            margin-top: 20px;

        }


        a:link,
        a:visited {
           
            align-items: center;
            
            padding: 0 20px;
            padding-left: 30px;
            padding-right: 30px;

            transition: 0.25s;

            
            color: $denim;
            &:hover,
            &:active {
                color: #C38583;
            }


        }






}


li:last-child {

    border: none;

}

}

            }