/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$forest: #4E7851;
$darkpink: #A96562;
$lightpink: #C38583;
$garden: #9EBC99;
$vanilla: #F7E8DC;
$christmas: #89514E;
$lime: #C1E4BB;
$seadeep: #1D322B;
$wilderness: #375E51;
$darkearth: #1D322B;
$spring: #C38583;


$electricYellow: #FFD205;
$electricYellowDark: #E2BA06;
$night: #424B54;
$nightDark: #2A3036;
$alpineFrost: #E0DFD5;
$alpineFrostDark: #C8C7BC;
$brightStarLite: #F8F9FA;
$brightStarDark: #ADB5BD;
$stoneSilver: #93A8AC;
$stoneSilverDark: #637275;

$babypink: #F2E9E4;
$artic: #48487B;
$denim: #42465D;
$ocean: #565B76;
$heather: #B7A9B5;
$ink: #171729;
$iris: #81747F;
$lav: #9A8C98;
$mac: #AC908A;
$makeup: #E5CEC8;
$mulberry: #8189B5;
$night: #2A3036;
$nude: #C9ADA7;
$royal: #22223B;
$starry: #F2E2D8;
$vanilla: #F7E8DC;

