/* =============
    Header
============= */

header {
    z-index: 100;
    position: fixed;
    left: 0;
    background-color:  #FCF5F1;;
    width: 100%;
   @include md{
    margin-top: -180px;
   } 

   @include lg{
    margin-top: -180px;
   } 
   margin-top: -184px;
   padding-top: 30px;
   padding-bottom: 50px;
   @include md{
    padding-bottom: 50px;
   }
   grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

        >div{
        
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
        "burger logos search";

        @include md {
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-areas:
            "burger logos search"
            ". nav .";
        }
        @include md {
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-areas:
            ". logos search"
            ". nav .";
        }

        #burger-container{
            display: flex-end;
            grid-area: burger;
            text-align: left;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 40px;
            margin-left: 30px;

            font-size: 40px;

            #burger-icon {
                color: $iris;
                cursor: pointer;
                font-size: rem-calc(30);

                &:hover,
                &:active {
                    color: #C38583;
                }
            }

            @include md {
                display: none;
            }

           
        }

        #img6{
            grid-area: logos;
            
           
            @include md{
                margin-left: 220px;
            }
           
            
        }

        #nav-container{
            grid-area: nav;
            display: none;
            
            
            grid-area: nav;
            padding: 20px 10px 10px;

            @include md {
            background-color:  #FCF5F1;
             a{color: $denim;
                &:hover,
                &:active {
                    color: #C38583;
                }
                font-size: 21px;
            }
            display: block !important;

            }  
        }

        #search{
          
            grid-area: search;

            

            display: flex-end;
            text-align: right;
            padding-top: 20px;
            padding-bottom: 20px;
           
            
            
           
           
           
            button{
                
                background-color: transparent;
                border: none;
                color: $iris;
                cursor: pointer;
                font-size: rem-calc(30);
                

                &:hover,
                &:active {
                    color: #C38583;
                }
            }
        }

        


                }
	}
