/* =============
    Header
============= */

header {
    z-index: 100;
    position: fixed;
    left: 0;
    background-color:  #FCF5F1;;
    width: 100%;
   @include md{
    margin-top: -200px;
   } 

   @include lg{
    margin-top: -190px;
   } 
   margin-top: -184px;
   padding-top: 30px;
   padding-bottom: 15px;
  
   grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

        >div{
        
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
        "burger logos search"
        "nav nav nav";

        @include md {
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-areas:
            "burger logos search"
            ". nav .";
        }
        @include md {
            display: grid;
            grid-template-columns:repeat(3, 1fr);
            grid-template-areas:
            ". logos search"
            ". nav .";
        }

        #burger-container{
           
            grid-area: burger;
            text-align: left;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;

            #burger-icon {
                color: $iris;
                cursor: pointer;
                font-size: rem-calc(30);

                &:hover,
                &:active {
                    color: #C38583;
                }
            }

            @include md {
                display: none;
            }

           
        }

        #img6{
            grid-area: logos;
            
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 35px;

            @include md{
                padding-top: 10px;
                padding-bottom: 0px;

            }
            
            
            
        }

        #nav-container{
            grid-area: nav;
            display: none;

           

            @include md {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                
                
                grid-area: nav;
               
            background-color:  #FCF5F1;
             a{color: $denim;
                &:hover,
                &:active {
                    color: #C38583;
                }
                font-size: 21px;
            }
            display: block !important;

            }  
        }

        #search{
          
            grid-area: search;

            
            text-align: right;
            display: flex;
            justify-content: center;
            align-items: center;
            
            
           
           
           
            button{
                
                background-color: transparent;
                border: none;
                color: $iris;
                cursor: pointer;
                font-size: rem-calc(30);
                

                &:hover,
                &:active {
                    color: #C38583;
                }
            }
        }

        


                }
	}
